footer.footer#contact
	.section_in 
		.footer__main 
			.footer__title.titleBlock ГДЕ ПРОХОДЯТ ЗАНЯТИЯ
			.footer__row 
				.footer__col 
					.footer__information 
						a(href="").footer__tel +7 (480) 000 00 00
						.footer__address Москва, <br> Дербеневская улица, 1
						.footer__form 
							input.contactForm__input.footer__input(type="text" placeholder="Имя")
							input.contactForm__input.footer__input(type="text" placeholder="Телефон")
							.contactForm__button.button
								.button__link Записаться
							.contactForm__checkBlock
								input(type="checkbox" id="check")
								label(for="click") Согласен на обработку персональных данных
				.footer__col
					.footer__imgMap 
						img(src="i/map.png", alt="")
			
			.footer__copyright © 2022 ZUMBA FiTNESS 
			.footer__copyright-text Дизайн сайта http://pvadesign.ru/ 

