footer.footer 
	.section_in 
		.footer_main 
			ul.footer_logo--list 
				each item in ['logo', 'brand']
					li 
						a(href="#")
							img(src=`i/vector/${item}.svg`, alt="")
			.footer_txt 
				p © 2022 МК-Элит 