header 
	.navbar.fixed-top
		.section_in
			.navbar-container.container
				input(type="checkbox" name="" id="")
				.hamburger-lines
					span.line.line1
					span.line.line2
					span.line.line3
				
				ul.menu-items
					li
						a(href="#aboutUs") О нас
					li
						a(href="#video") Видео
					li
						a(href="#advant") Преимущества
					li
						a(href="#instruct") О преподавателе
					li
						a(href="#price") Цены
					li
						a(href="#contact") Контакты
						
				.contact-box
					.tel 
						a(href="#") +7 (480) 000 00 00
					.info Москва, Дербеневская улица, 11
	
		