header.header 
	.section_in
		.header__block
			.header__nav.nav 
				ul.nav__list
					li.nav__item О нас
					li.nav__item Видео
					li.nav__item Преимущества 
					li.nav__item О преподавателе
					li.nav__item Отзывы
					li.nav__item Цены
					li.nav__item Контакты
				ul.nav__list
					each item in ['О нас', 'Видео']
						li 
							a(href="#")=item 

			.header__contact.contactHead 
				.contactHead__tel 
					a(href="#") +7 (480) 000 00 00
				.contactHead__info Москва, Дербеневская улица, 11
