.footer {
	&__row{
		display: flex;
		justify-content: center;
		align-items: center;
		@include bp ($point_1){
		  flex-direction: column;
		}
		@include bp ($point_3){
		  align-items: flex-start;
		}
		@include bp ($point_6){
			align-items: center;
		  }
	}
	&__title{
		display: flex;
		justify-content: center;
		margin-bottom: 8rem;
		@include bp ($point_1){
		  margin-bottom: 1rem;
		}
		@include bp ($point_6){
			text-align: center !important;
			justify-content: center !important;
			align-items:center;
		  }
	}
	&__tel{
		text-decoration: none;
		color: #000;
		font-family: $font_3;
		font-size: 2.4rem;

	}
	&__information {
		color: #000;
		@include bp ($point_1){
		  display: flex;
			flex-direction: column;
			align-items: center;
			justify-content:center;
			@include bp ($point_3){
				align-items: flex-start;
			}
			@include bp ($point_5){
				align-items: center;
			}
		}
	}
	&__address{
		margin-top: 3rem;
		margin-bottom: 3rem;
		font-size: 2.4rem;
		@include bp ($point_1){
			text-align: center;
		}
		@include bp ($point_3){
		  text-align: left;
		}
		@include bp ($point_6){
			text-align: center;
		  }
	}

	&__form{
		display: flex;
		flex-direction: column;
		@include bp ($point_1){
			margin-bottom: 2rem;
		}
		@include bp ($point_6){
			align-items:center;
		  }
	}
	&__input{
		margin-bottom:2rem;
	}
	.contactForm__button{
		color: #fff;
	}
	&__copyright{
		margin-top: 4rem;
		color: #000;
		text-align: center;
		&-text{
			display: flex;
			justify-content: center;
			// padding-bottom: 2rem;
			font-size: 1.2rem;
			color: rgb(155, 155, 155);
			text-align: center;
		}
	}
		&__imgMap img{
			width: 77rem;
			@include bp ($point_3){
				width: 100%;
			}

		} 
	}

.fixed-top.scrolled{
	background-color:rgb(35, 35, 35);
}





