

  /* desktop mode............/// */
  
  .navbar input[type="checkbox"],
  .navbar .hamburger-lines {
	display: none;
  }
  
  .navbar {
	// padding-top: 2rem;
	// box-shadow: 0px 5px 10px 0px #aaa;
	position: fixed;
	width: 100%;
	background: transparant;
	color: #fff;
	opacity: 0.85;
	z-index: 12;
  }
.tel a{
	font-size: 1.8rem;
	color:#fff;
	font-family: $font_2;
	text-decoration: none;
}
.info{
	font-size: 1.4rem;
	color: #999999;;
	font-family: $font_1;
	z-index: 1;

}
  .navbar-container {
	display: flex;
	justify-content: space-around;
	height: 6.4rem;
	align-items: center;
  }

  .menu-items {
	// order: 2;
	display: flex;
  }
  
  .menu-items li {
	list-style: none;
	margin-left: 1.5rem;
	margin-bottom: 0.5rem;
	font-size: 1.2rem;
  }
  
  .menu-items a {
	color: #fff;
	text-decoration: none;
	font-size: 1.6rem;
	font-family: $font_1;
	margin-left: 4.5rem;
	transition: color 0.3s ease-in-out;
  }
  
  .menu-items a:hover {
	color: #FF5C01;
	transition: color 0.3s ease-in-out;
  }
  

  /* ............//// Showcase styling ////......... */
  

  @media (max-width: 1020px) {
	.contact-box{
		position: absolute;
		top: 1rem;
		right: 1rem;
		z-index: -1;
	}
	.navbar {
	  opacity: 1;
	}
  
	.navbar-container input[type="checkbox"],
	.navbar-container .hamburger-lines {
	  display: block;
	}
  
	.navbar-container {
	  display: block;
	  position: relative;
	  height: 6.4rem;
	}
  
	.navbar-container input[type="checkbox"] {
	  position: absolute;
	  display: block;
	  height: 32px;
	  width: 30px;
	  top: 2rem;
	  left: 2rem;
	  z-index: 5;
	  opacity: 0;
	}
  
	.navbar-container .hamburger-lines {
	  display: block;
	  height: 23px;
	  width: 35px;
	  position: absolute;
	  top: 17px;
	  left: 5px;
	  z-index: 2;
	  display: flex;
	  flex-direction: column;
	  justify-content: space-between;
	  
	}
  
	.navbar-container .hamburger-lines .line {
	  display: block;
	  height: 4px;
	  width: 100%;
	  border-radius: 10px;
	  background: $gradient;
	}
  
	.navbar-container .hamburger-lines .line1 {
	  transform-origin: 0% 0%;
	  transition: transform 0.4s ease-in-out;
	}
  
	.navbar-container .hamburger-lines .line2 {
	  transition: transform 0.2s ease-in-out;
	}
  
	.navbar-container .hamburger-lines .line3 {
	  transform-origin: 0% 100%;
	  transition: transform 0.4s ease-in-out;
	}
  
	.navbar .menu-items {
	  padding-top: 100px;
	  background: #fff;
	  color:#000;
	  height: 100vh;
	  max-width: 300px;
	  transform: translate(-150%);
	  display: flex;
	  flex-direction: column;
	  margin-left: -40px;
	  padding-left: 50px;
	  transition: transform 0.5s ease-in-out;
	  box-shadow: 5px 0px 10px 0px #aaa;
	}
  
	.navbar .menu-items li {
	  margin-bottom: 1.5rem;
	  font-size: 1.3rem;
	  font-weight: 500;
	  color:#000;
	}
	.menu-items a {
		color:#000;
		margin-left: 0rem;
	}
  .menu-items li{
	margin-left: 0rem;
  }

	.navbar-container input[type="checkbox"]:checked ~ .menu-items {
	  transform: translateX(0);
	}
  
	.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
	  transform: rotate(35deg);
	}
  
	.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
	  transform: scaleY(0);
	}
  
	.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
	  transform: rotate(-35deg);
	}
  }  