// body{
.wrapper{
	background-image: url(../i/fon.png);
	background-repeat: no-repeat;
	background-size: cover;
}
// .mainBackground{

// }

.home {
		background-image: url(../i/main_bg.png);
		background-repeat:no-repeat;
		min-height: 110rem;
		background-size: cover;
		background-position: center;
		height: auto;
    &__title{
        margin-bottom: 5rem;
        font-size: 9rem;
        font-family: $font_2;
        text-align: center;
				@include bp ($point_3){
					font-size: 7.2rem
				}
		
    }
    &__text{
        text-align: center;
        font-size: 3.6rem;
        font-family: $font_1;
        margin-bottom: 34rem;
				@include bp ($point_3){
					font-size: 2.8rem;
				}
				@include bp ($point_5){
					font-size: 2.2rem;
				}

    }
    &__informBlock{
				padding-top: 35rem;
        width: 82rem;
				@include bp ($point_3){
					width: 100%;
				}
				@include bp ($point_5){
					padding-top: 23rem;
				}
    }
    &__wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;

    }
}
.contactForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;
		margin-bottom: 10rem;
		@include bp ($point_5){
			margin-top: -10rem;
			margin-bottom: 5rem;
		}

    &__title {
        font-size: 6rem;
				color: #FF5C01;
				// background: $gradient;
				// -webkit-background-clip: text;
				// -webkit-text-fill-color: transparent;
				// color: #bf1b98;
        font-family: $font_3;
        width: 100rem;
				@include bp ($point_1){
					width: 100%;
				}
				@include bp ($point_3){
					font-size: 4.2rem
				}
				@include bp ($point_5){
					font-size: 3.6rem;
					line-height: 3.4rem;
				}
        // margin-bottom: 6rem;
	}
	.contactForm__title:nth-child(2){
		color:#FF214F;
		margin-bottom: 6rem;
		@include bp ($point_5){
			margin-bottom: 3rem;
		}
	}
    &__input{
        width: 28rem;
        border:1px solid #FF5C01;
        border-radius: 6px;
        height: 7rem;
        text-align: center;
				background: transparent;
    }
    &__block{
        display: flex;
				@include bp ($point_1){
					flex-direction: column;
					align-items: center;
					justify-content: center;
				}
    }
    &__input{
        margin-right: 4rem;
				@include bp ($point_1){
					margin-right: 0rem;
					margin-bottom: 2rem;
				}
    }
    &__checkBlock{
			padding-top: 1rem;
			display: flex;
			align-items: center;
			margin-top: 1rem;
    }

} 
label{
    font-size: 1.2rem;
    color: rgb(153, 153, 153);
		font-family: $font_1;
	cursor: pointer;
}



.aboutUs{
    &__serviceItem{
        color:#000;
        font-size: 2.4rem;
        font-family: $font_1;
				text-transform: lowercase;
				padding-left: 2rem;
				@include bp ($point_5){
					font-size: 1.8rem;
			}
		
    }
		&__title{
			padding-bottom: 5rem;
		}
		&__textBlock{
			width: 60rem;
			@include bp($point_3){
				width: 100%;

			}
		
		}
		&__text-style{
			margin-left: -7rem;
			@include bp($point_2){
				margin-left: 0rem;
			}
		}
    &__blockList{
				width: 50rem;
				padding-left: 1rem;
				margin-bottom: 4rem;
        display: flex;
        justify-content: flex-start;
				@include bp ($point_5){
					width: 100%;
			}
			@include bp ($point_5){
				padding-left: 0rem;
			}
    }
		&__blockList:nth-child(2){
			padding-left: 5rem;
			@include bp($point_2){
				padding-left: 0rem;
			}
		}
		&__blockList:nth-child(3){
			padding-left: 5rem;
			@include bp($point_2){
				padding-left: 0rem;
			}

		}
    &__row{
        display: flex;
				@include bp($point_2){
					flex-direction: column;
				}
    }
    &__textBlock p{
        color: #000;
        font-family: $font_1;
        font-size: 1.8rem;
				line-height: 1.667;
    }
		&__text{
			width: 63rem;
			margin-bottom: 4rem;
			color:#000;
			font-family: $font_1;
      font-size: 1.8rem;
			line-height: 1.667;
			@include bp($point_3){
				width: 100%;

			}
		}
		&__col-left{
			left: 0;
			position: absolute;
		}
		&__col-right {
			padding-top: 7rem;
			padding-left: 70rem;
			@include bp($point_2){
				padding-left: 0rem;
			}
			@include bp($point_3){
				padding-top: 0rem;

			}
		}
		&__img img{
			max-width: 90rem;
			width: 100%;
			@include bp($point_2){
				display: none;
			}
		}
		&__serviceList {
			margin-top: 5rem;
			padding-left: 4rem;
			@include bp($point_2){
				padding-left: 0rem;
			}
		}
		&__titleList{
			color: #000;
			font-size: 2.4rem;
			font-family: $font_3;
			margin-bottom: 9rem;
			@include bp($point_5){
				margin-bottom: 3rem;
			}
		}
		&__textBlock p{
			padding-top: 3rem;
		}
}
.text-uppercase{
	text-transform: uppercase;
}
.blockRegister{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 14rem;
	@include bp($point_5){
		margin-bottom: 3rem;
		align-items:baseline;
	}
	// @include bp($point_2){
	// 	padding-left: 0rem;
	// }
	&__text{
		text-align: center;
		color:#000;
		font-size: 2.4rem;
		margin-bottom: 3rem;
		@include bp($point_5){
			text-align: left;
		}
	}

 	span{
		 display: block;
		 text-transform: uppercase;
		 font-size: 4.5rem;
	 }
}
span{
	font-family: $font_3;
}
.blockReasons{
	&__row{
		display: flex;
		justify-content: space-between;
		margin-top: 10rem;
		@include bp ($point_1){
			flex-direction: column;
			margin-top: 0rem;
		}
	}
	&__col{
		display: flex;
		flex-direction: column;
	}
	&__col-right{
		margin-top: -5rem;
	}
	&__item{
		width: 41rem;
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: column;
		@include bp($point_5){
			width: 100%;
			// margin-top: -8rem;
		}
		

	}

	&__item-text{
		margin-top: -17rem;
		font-size: 1.8rem;
		font-family: $font_1;
		text-transform: uppercase;
		text-align: center;
		color:#000;
	}
	&__num {
		font-size: 30rem;
		color: rgba(255, 255, 255, 0.302);
		font-family: $font_3;
		text-transform: uppercase;
	}
	&__title{
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-right: 19rem;
		@include bp ($point_3){
       margin-right: 0rem;
			 justify-content: center;
		}
		@include bp ($point_5){
			margin-bottom: -5rem;
		}
	}
	&__num-title{
		font-size: 30rem;
		font-family: $font_3;
		background: $gradient;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		@include bp ($point_3){
			font-size: 20rem;
		}
	}
	&__wrapp{
		margin-bottom: 8rem;
		z-index: 9;

	}
	&__text{
		font-size: 9rem;
		font-family: $font_3;
		background: $gradient;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		@include bp ($point_3){
			font-size: 4.2rem
		}
	}
	&__textBlock{
		margin-left: 2rem;
	
	}
	&__text-style{
		font-size: 6rem;
		font-family: $font_3;
		color: #000;
		@include bp ($point_3){
			font-size: 3.2rem;
		}
	}
	&__col-girl{
		position: relative;
		margin-top: -20rem;
		@include bp ($point_1){
			display: none;
		}
	}
	&__col-girl img{
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		position: absolute;
	}
}

.reason-1s{
	margin-left: 60%;
	@include bp ($point_1){
		margin-left: 0%;
	}
}
.reason-2s{
	margin-top: 20%;
	margin-left: 40%;
	@include bp ($point_1400){
		margin-left: 15%;
	}
	@include bp ($point_1){
		margin-left: 0%;
		margin-top: 0%;
	}
}
.reason-3s{
	margin-top: -2rem;
	margin-left: -80%;
	@include bp ($point_1){
		margin-left: 0%;
		margin-top: 0%;
	}
}
.reason-4s {
	margin-top: -4rem;
	margin-left: -40%;
	@include bp ($point_1){
		margin-left: 0%;
		margin-top: 0%;
	}
}
.reason-5s{
	margin-left: -17%;
	@include bp ($point_1400){
		margin-left: -15%;
	}
	@include bp ($point_1){
		margin-left: 0%;
	}

}
.reason-6s {
	margin-left: -20%;
	@include bp ($point_1400){
		margin-left: 0%;
	}
	@include bp ($point_1){
		margin-left: 0%;
	}
}
.titleReason-bold{
	font-size: 1.8rem;
	font-family: $font_3;
}
.reasons-endBlock{
	margin-top: -5%;
	margin-bottom: 9rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@include bp ($point){
		margin-top: 5%;
	}
	@include bp ($point_0){
		margin-top: 15%;
		margin-left: 7%;
	}
	@include bp ($point_1400){
		margin-top: 20%;
	}
	@include bp ($point_1){
		margin-left: 11%;
		margin-bottom: 32rem;
		margin-top: 0%;
		margin-bottom: 1rem;
	}
	@include bp ($point_3){
      margin-left: 0%;
	}
&__num{
	font-size: 30rem;
	color: rgba(255, 255, 255, 0.302);
	font-family: $font_3;
	text-transform: uppercase;
}
&__text{
	margin-top: -9%;
	margin-bottom: 4rem;
	width: 60rem;
	font-size: 3rem;
	font-family: $font_3;
	text-transform: uppercase;
	text-align: center;
	color: #000;
	// @include bp ($point_1){
	// 	text-align: left;
	// }
	@include bp ($point_3){
		width: 100%;
}
}
}


.blockVideo{
	margin-top: 40px;
	&__title{
		text-align: center;
		margin-bottom: 6rem;
		@include bp ($point_5){
			font-size: 2.8rem !important;
			text-align: left;
			margin-bottom: 3rem;
		}

	}
	&__text {
		margin-bottom: 6rem;
		color:#000;
		font-size: 3rem;
		text-transform: uppercase;
		font-family: $font_1;
		text-align: center;
		@include bp ($point_5){
			font-size: 2.8rem !important;
			text-align: left;
			margin-bottom: 3rem;
		}
	}
	&__video {
		text-align: center;
	}
	&__video img{
		max-width: 100%;
	}
}

.blockInstruction{
	padding-bottom: 21rem;
	&__row{
		display: flex;
	}
	&__col{
		padding-left: 20rem;
		@include bp ($point_1){
			padding-left: 0rem;
		}
	}
	&__title{
		margin-bottom: 4rem;
		@include bp ($point_5){
			font-size: 1.8rem !important; 
		}
	
	}

	&__box{
		margin-bottom: 4rem;
		font-size: 1.8rem;
		color: #000;
		font-family: $font_1;
		margin: 20px auto;
	}

	&__text p{
		width: 38%;
		margin-bottom: 5rem;
		@include bp ($point_1){
			width: 100%;
		}
		@include bp ($point_5){
			margin-bottom: 2rem;
		}

	}
	&__img {
		float: right;
		shape-outside: circle(50%);
		@include bp ($point_1){
			display: none;
		}
		// shape-outside: url(../i/about.png);
		}
		&__img img{
			position: absolute;
			right: 0;
			width: 110rem;

		}
	&__button{
		margin-left: 12.5%;
		cursor: pointer;
		@include bp ($point_5){
			margin-left: 0%;
		}
	}

	}

.priceInform{
	height: 118.5rem;
	padding-top: 6.5rem;
	color:#000;
	width: 98rem;
	border-radius: 5rem;
	background-color: rgba(255, 255, 255, 0.85);
	z-index: 9;
	filter: drop-shadow(4px 4px 14px rgba(0, 0, 0, 0.17));
	@include bp ($point_3){
		width: 100%;
		padding-top: 2.5rem;
	}
	&__num{
		font-size: 9rem;
		background: $gradient;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	&__sell{
		display: flex;
		align-items: center;
		justify-content: center;
		@include bp($point_5){
			margin-bottom: 2rem;
		}
		@include bp ($point_6){
			flex-direction: column;
		}
	}
	&__title{
		text-align: center !important;
	}
	&__text{
		width: 36rem;
		text-transform: uppercase;
		@include bp ($point_5){
			font-size: 1.6rem;
			text-align: center;
			width: 100%;
		}

	}
}

.priceList {
	padding-left: 18rem;
	margin: auto;
	@include bp ($point_3){
		padding-left: 1rem;
	}
	@include bp ($point_5){
		padding-right: 1rem;
	}
	&__item{
		margin-bottom: 3rem;
		text-transform: uppercase;
		@include bp ($point_5){
			margin-bottom: 2rem;
			font-size: 1.2rem;
			width: 90%;
		}
	}
	&__note{
		width: 58%;
		font-size: 1.4rem;
		margin-bottom: 4rem;
		@include bp ($point_5){
			width: 100%;
			margin-bottom: 2rem;
		}
	}
	&__button{
		display: flex;
		justify-content: center;
		margin-top: 4rem;
		margin-left: -15rem;
		color: #fff;
		cursor: pointer;
		@include bp ($point_1){
			margin-left: 0rem;
		}
		@include bp ($point_5){
			margin-top: 5rem;
		}
		// @include bp ($point_5){
		// 	margin-left:2rem;
		// }
	}
}
.blockPrice{
	padding-bottom: 10rem;
	@include bp ($point_5){
		padding-bottom: 0rem;
	}
	&__bg{
		display: flex;
		justify-content: right;
		align-items: center;
		margin-right: 18rem;
		top: -8rem;
		// position: absolute;
		position: relative;
		z-index: 9;
		@include bp ($point_3){
			margin-right: 0rem;
		}
	} 
	&__img{
		position: absolute;
		left: 0;
		z-index: 2;
		@include bp ($point_5){
			display: none;
		}
	}
	&__img img{
		width: 153.6rem;
		@include bp ($point_1){
			width: 100%;

		}
	}

}

