// body{
.wrapper{
	background-image: url(../i/fon.png);
	background-repeat: no-repeat;
	background-size: cover;
}
// .mainBackground{

// }
.base{
   
}
.home {
		background-image: url(../i/main_bg.png);
		background-repeat:no-repeat;
		min-height: 110rem;
		background-size: cover;
		height: auto;
    &__title{
        margin-bottom: 5rem;
        font-size: 9rem;
        font-family: $font_2;
        text-align: center;
		
    }
    &__text{
        text-align: center;
        font-size: 3.6rem;
        font-family: $font_1;
        margin-bottom: 34rem;
    }
    &__informBlock{
				padding-top: 35rem;
        width: 82rem;
    }
    &__wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;

    }
}
.contactForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;
		margin-bottom: 10rem;

    &__title {
        font-size: 6rem;
				color: #FF5C01;
				// background: $gradient;
				// -webkit-background-clip: text;
				// -webkit-text-fill-color: transparent;
				// color: #bf1b98;
        font-family: $font_3;
        width: 100rem;
        // margin-bottom: 6rem;
	}
	.contactForm__title:nth-child(2){
		color:#FF214F;
		margin-bottom: 6rem;
	}
    &__input{
        width: 28rem;
        border:1px solid #FF5C01;
        border-radius: 6px;
        height: 7rem;
        text-align: center;
				background: transparent;
    }
    &__block{
        display: flex;
    }
    &__input{
        margin-right: 4rem;
    }
    &__checkBlock{
			padding-top: 1rem;
			display: flex;
			align-items: center;
			margin-top: 1rem;
    }

} 
label{
    font-size: 1.2rem;
    color: rgb(153, 153, 153);
		font-family: $font_1;
}



.aboutUs{
    &__serviceItem{
        color:#000;
        font-size: 2.4rem;
        font-family: $font_1;
				text-transform: lowercase;
				padding-left: 2rem;
    }
		&__title{
			padding-bottom: 5rem;
		}
		&__textBlock{
			width: 60rem;
		}
		&__text-style{
			margin-left: -7rem;
		}
    &__blockList{
				width: 50rem;
				padding-left: 1rem;
				margin-bottom: 4rem;
        display: flex;
        justify-content: flex-start;
    }
		&__blockList:nth-child(2){
			padding-left: 5rem;
		}
		&__blockList:nth-child(3){
			padding-left: 5rem;

		}
    &__row{
        display: flex;
    }
    &__textBlock p{
        color: #000;
        font-family: $font_1;
        font-size: 1.8rem;
				line-height: 1.667;
    }
		&__text{
			width: 63rem;
			margin-bottom: 4rem;
			color:#000;
			font-family: $font_1;
      font-size: 1.8rem;
			line-height: 1.667;
		}
		&__col-left{
			left: 0;
			position: absolute;
		}
		&__col-right {
			padding-top: 7rem;
			padding-left: 70rem;
		}
		&__img img{
			max-width: 90rem;
			width: 100%;
		}
		&__serviceList {
			margin-top: 5rem;
			padding-left: 4rem;
		}
		&__titleList{
			color: #000;
			font-size: 2.4rem;
			font-family: $font_3;
			margin-bottom: 9rem;
		}
		&__textBlock p{
			padding-top: 3rem;
		}
}
.text-uppercase{
	text-transform: uppercase;
}
.blockRegister{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 14rem;
	&__text{
		text-align: center;
		color:#000;
		font-size: 2.4rem;
		margin-bottom: 3rem;
	}

 	span{
		 display: block;
		 text-transform: uppercase;
		 font-size: 4.5rem;
	 }
}
span{
	font-family: $font_3;
}
.blockReasons{
	&__row{
		display: flex;
		justify-content: space-between;
		margin-top: 10rem;
	}
	&__col{
		display: flex;
		flex-direction: column;
	}
	&__col-right{
		margin-top: -5rem;
	}
	&__item{
		width: 41rem;
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: column;
	}


	&__item-text{
		margin-top: -17rem;
		font-size: 1.8rem;
		font-family: $font_1;
		text-transform: uppercase;
		text-align: center;
		color:#000;
	}
	&__num {
		font-size: 30rem;
		color: rgba(255, 255, 255, 0.302);
		font-family: $font_3;
		text-transform: uppercase;
	}
	&__title{
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-right: 19rem;
	}
	&__num-title{
		font-size: 30rem;
		font-family: $font_3;
		background: $gradient;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	&__wrapp{
		margin-bottom: 8rem;
		z-index: 9;

	}
	&__text{
		font-size: 9rem;
		font-family: $font_3;
		background: $gradient;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	&__textBlock{
		margin-left: 2rem;
	}
	&__text-style{
		font-size: 6rem;
		font-family: $font_3;
		color: #000;
	}
	&__col-girl{
		position: relative;
		margin-top: -20rem;
	}
	&__col-girl img{
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		position: absolute;
	}
}

.reason-1s{
	margin-left: 60%;
}
.reason-2s{
	margin-top: 20%;
	margin-left: 40%;
}
.reason-3s{
	margin-top: -2rem;
	margin-left: -80%;
}
.reason-4s {
	margin-top: -4rem;
	margin-left: -40%;
}
.reason-5s{
	margin-left: -30%;
}
.reason-6s {
	margin-left: -20%;
}
.titleReason-bold{
	font-size: 1.8rem;
	font-family: $font_3;
}
.reasons-endBlock{
	margin-top: -5%;
	margin-bottom: 9rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
&__num{
	font-size: 30rem;
	color: rgba(255, 255, 255, 0.302);
	font-family: $font_3;
	text-transform: uppercase;
}
&__text{
	margin-top: -9%;
	margin-bottom: 4rem;
	width: 60rem;
	font-size: 3rem;
	font-family: $font_3;
	text-transform: uppercase;
	text-align: center;
	color: #000;
}
}


.blockVideo{
	&__title{
		text-align: center !important;
		margin-bottom: 6rem;
	}
	&__text {
		margin-bottom: 6rem;
		color:#000;
		font-size: 3rem;
		text-transform: uppercase;
		font-family: $font_1;
		text-align: center;
	}
	&__video {
		text-align: center;
	}
}

.blockInstruction{
	padding-bottom: 40rem;
	&__row{
		display: flex;
	}
	&__col{
	}
	&__title{
		margin-bottom: 4rem;
	}

	&__text{
		margin-bottom: 4rem;
		width: 800px;
		font-size: 1.8rem;
		color: #000;
		font-family: $font_1;
		// text-align: justify;
		margin: 20px auto;
	}
	&__img {
		float: right;
		shape-outside: url(../i/about.png);
		clip-path: ellipse(50%); 
		}
	}

.priceInform{
	height: 118.5rem;
	padding-top: 6.5rem;
	color:#000;
	width: 98rem;
	border-radius: 5rem;
	background-color: rgba(255, 255, 255, 0.85);
	z-index: 9;
	&__num{
		font-size: 9rem;
		background: $gradient;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	&__sell{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__title{
		text-align: center !important;
	}
	&__text{
		width: 36rem;
		text-transform: uppercase;
	}
}

.priceList {
	padding-left: 18rem;
	margin: auto;
	&__item{
		margin-bottom: 3rem;
		text-transform: uppercase;
	}
	&__note{
		width: 58%;
		font-size: 1.4rem;
		margin-bottom: 4rem;
	}
	&__button{
		margin-top: 4rem;
		margin-left: 15rem;
		color: #fff;
	}
}
.blockPrice{
	padding-bottom: 10rem;
	&__bg{
		display: flex;
		justify-content: right;
		align-items: center;
		margin-right: 18rem;
		top: -8rem;
		// position: absolute;
		position: relative;
		z-index: 9;
	} 
	&__img{
		position: absolute;
		left: 0;
		z-index: 2;
	}
	&__img img{
	max-width: 100%;
	}

}

