.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow {
	font-size:(16/10)*1rem;
	width:(9/16)*1em;
}
.icon-icon1 {
	font-size:(75/10)*1rem;
	width:(56/75)*1em;
}
.icon-icon2 {
	font-size:(72/10)*1rem;
	width:(72/72)*1em;
}
.icon-icon3 {
	font-size:(72/10)*1rem;
	width:(70/72)*1em;
}
.icon-icon4 {
	font-size:(68/10)*1rem;
	width:(68/68)*1em;
}
.icon-play-icon {
	font-size:(84/10)*1rem;
	width:(84/84)*1em;
}
