.button{
    border-radius: 6px;
    background: -webkit-linear-gradient( 90deg, rgb(255,33,79) 0%, rgb(255,92,1) 100%);
    width: 28rem;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
		font-family: $font_3;
      
}
.titleBlock{
    font-size: 6rem;
    font-family: $font_3;
    color: #000;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
		@include bp ($point_3){
			font-size: 4.2rem
		}
}